<h1>detail</h1>

<button (click)="onDetailsTap($event)">details</button>
<button (click)="onTasksTap($event)">tasks</button>
<button (click)="onChitchatTap($event)">chitchat</button>

<div>
    <pt-item-details [item]="currentSelectedItem$ | async" *ngIf="selectedDetailsScreenIndex=== 0"></pt-item-details>
    <pt-item-tasks [item]="currentSelectedItem$ | async" (addNewTask)="onAddNewTask($event)" (toggleTask)="onToggleTask($event)"
        *ngIf="selectedDetailsScreenIndex=== 1"></pt-item-tasks>
    <pt-item-chitchat [item]="currentSelectedItem$ | async" *ngIf="selectedDetailsScreenIndex=== 2"></pt-item-chitchat>
</div>
