<h3>Details</h3>

<div (click)="onTitleTap($event)">
    <label>Title</label>
    <h4>{{ item?.title }}</h4>
</div>

<div (click)="onDescriptionTap($event)">
    <label>Description</label>
    <h4>{{ item?.description }}</h4>
</div>


<app-dialog [(visible)]="showDialog">
    <h1>{{ editDialogName }}</h1>

    <div *ngIf="editingTitle">
        <input [(ngModel)]="item.title" />
    </div>

    <div *ngIf="editingDescription">
        <input [(ngModel)]="item.description" />
    </div>

    <button (click)="onDialogSaveTap($event)" class="btn">Save</button>
</app-dialog>
