<h3>Details</h3>

<div (click)="onTitleTap($event)">
    <label>Title</label>
    <h4>{{ item?.title }}</h4>
</div>

<div (click)="onDescriptionTap($event)">
    <label>Description</label>
    <h4>{{ item?.description }}</h4>
</div>


<app-dialog [(visible)]="showDialog">
    <div [ngSwitch]="editingProp">
        <ng-template [ngSwitchCase]="'title'">
            <h1>Edit Title</h1>
            <div>
                <label>Title</label>
                <input [(ngModel)]="item.title" />
            </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'description'">
            <h1>Edit Description</h1>
            <div>
                <label>Description</label>
                <input [(ngModel)]="item.description" />
            </div>
        </ng-template>
    </div>

    <button (click)="onDialogSaveTap($event)" class="btn">Save</button>
</app-dialog>
